body {
	background-color:#222;
	color: #FBFBFB;
}

#bigtitle {
		color:#ffffff;
		display:inline-block;
		font-family: impact;
		font-weight: normal;
}

#content {
	max-width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

a {
	color: #8888FB;
}

a:hover {
	color: #F8F8FF;
}

a.important {
	background-color:#030303;
}

img.thumbnail {
	max-width:400px;
}

aside.uploadform {
	border: 1px solid black;
	display: inline-block;
	padding: 10px;
	float: right;
	background-color:#303040;
}

.strong {
	font-weight: bold;
}

ul.actions {
	list-style: none;
	background-color:#000000;
	display: inline-block;
	padding: 10px;
	padding-left: 50px;
}

div.icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right:4px;
}

div.icon.zip {
	background-image:url('/static/icons/disk.png');
}

div.icon.torrent {
	background-image:url('/static/icons/lightning.png');
}


ul.packs {
	list-style: none;
}

span.grey {
	color:#555;
}

@-webkit-keyframes blinkanim {
 from {
   background-color: #000000;
 }
 to {
   background-color: #440000;
 }
}

li.torrentlink {
	display: block;
  -webkit-animation-name: blinkanim;
  -webkit-animation-duration: 1.0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

/*
li.torrentlink:hover {
	 -webkit-animation-duration: 0.1s;
}
*/