<!DOCTYPE html>
<html>
<head>
<title>tons' sedel sharing system</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{{stylepath}}" />
</head>
<body>

<div id="content">
<header>
<a href="/" id="bigtitle"><h1>tons' sedel sharing system</h1></a>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

your ip: <span class="uploader_ip" style="background-color: {{users.user_random_color(request.remote_addr)}}">{{ request.remote_addr }}</span>
{% if admin %} 
	<span class="hilite">admin mode</span>
{% endif %}
</header>

{% block content %}{% endblock %}

<footer>
jee
</footer>
</div>


</body>

</html>