{% extends "main.html" %}

{% block content %}
	{% if pack %}
		<section>
		<h1>{{ pack.name }}</h1>
		 <span class="uploader_ip" style="background-color: {{users.user_random_color(pack.uploader_ip)}}">uploaded by: {{ pack.uploader_ip }}</span><br />
		 {% if pack.description %}
			<section>
			<h1>description: </h1>
			 <p class="description">
				{{ pack.description }}
			 </p>
			</section>
		 {% endif %}
		 <ul class="actions">
			{% if pack.zip_url %}
				<li>
				<div class="icon zip"></div><label class="strong">lataa zippi:</label> <a href="/{{funutil.path_to_url(pack.zip_url)}}">{{pack.name}}.zip</a>
				</li>
			{% endif %}
			
			{% if pack.torrent_url %}
				<li class="torrentlink">
				<div class="icon torrent"></div><label class="strong">lataa torrentti:</label> <a href="/{{funutil.path_to_url(pack.torrent_url)}}" >{{pack.name}}.torrent</a>
				</li>
			{% endif %}
			{% if admin %} 
				<li>
				<a href="{{ url_for('force_seed', userid=pack.uploader_hash, packname=pack.name) }}">force reseed</a>
				</li>
			{% endif %}
			
			{% if admin or request.remote_addr == pack.uploader_ip %} 
				{% if request.remote_addr == pack.uploader_ip %} 
					you own this pack
				{% endif %}
			{% endif %}
			
		</ul>
		<section>
		{% if pieces %}
			<h1>filut:</h1>
			<ul class="pieces">
			{% for piece in pieces %}
			  <li>
				
				<a href="{{users.get_piece_url(pack, piece)}}">{{ piece.name }}</a>, {{ funutil.sizeof_fmt(piece.size) }} 
				<div>
				{% if splitext(piece.name)[1].lower() in ['.png', '.jpg', '.jpeg', '.gif']  %}
					<a href="{{funutil.path_to_url(users.get_piece_url(pack, piece))}}"><img src="{{users.get_piece_url(pack, piece)}}" class="thumbnail"/> </a>
				{% endif %}
				</div>
			  </li>
			{% endfor %}
			</ul>
		  {% endif %}
		</section>
		</section>
	{% endif %}

{% endblock %}