{% extends "main.html" %}

{% block content %}
<aside class="uploadform">
	<h1>lisää uusi setti</h1>
	<form method="post" action="upload" enctype="multipart/form-data">
		<label>paketin nimi (vapaaehtoinen):</label> <br>
		<input type="text" name="packname" /><br />
		<label>kuvaus (vapaaehtoinen):</label> <br>
		<textarea name="description" rows="2" cols="25"></textarea><br />
		<label>paketin tiedostot (ota useempi):</label> <br>
		<input type="file" name="up_files" multiple="multiple">
		<br>
		<label><input type="checkbox" name="dozip" value="zip" />zip content</label>
		<br>
		<label><input type="checkbox" name="dotorrent" value="torrent" checked/>create .torrent</label>
		<br>
		<input type="submit" value="Upload"/>
	</form>
</aside>

{% with packs = packs %}
  {% if packs %}
  <section>
	<h1>lataa</h1>
    <ul class="packs">
    {% for pack in packs%}
      <li>
		<span style="background-color: {{users.user_random_color(pack.uploader_ip)}}">
			<a class="important" href="{{get_pack_url(pack)}}">{{pack.name}}</a>, {{pack.cnt}} files
		</span>
		<span class="grey">, {{pack.upload_date}}</span> 
		</li>
	  
    {% endfor %}
    </ul>
	</section>
  {% endif %}
{% endwith %}


{% endblock %}